.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

main > .container {
  padding: 60px 15px 0;
}

.hero {
  text-align: center;
  margin-top: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
  & form {
    position: relative;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

#works_list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 1;
}

.card-menu {
  padding-top: 75%;
  background-size: cover;
  border: none;
  & .btn {
    font-size: 1.25rem;
  }  
}

#menu-sculpture {
  background-image: url('/images/sculpture.jpg');
}

#menu-painting {
  background-image: url('/images/painting.jpg');
}

#menu-drawing {
  background-image: url('/images/drawing.jpg');
}