<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">BMADMIN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">All</a>
          <a class="nav-link" href="/?mode=sculpture&sort=title">Sculpture</a>
          <a class="nav-link" href="/?mode=painting&sort=title">Painting</a>
          <a class="nav-link" href="/?mode=drawing&sort=title">Drawing</a>
        </div>
      </div>
    </div>
  </nav> 
</header>