<div class="row row-cols-1 row-cols-md-4 g-4 mt-3">

  {{#each works}}

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.mode}} | {{this.category}} | {{this.material}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago.</small>
      </div>
    </div>
  </div>

  {{/each}}

</div>
{{!-- <div class="row">
  <div class="col-md-3">
    <form action="/api/works" method="POST" class="card" id="form_work">
      <legend class="card-header text-center">add work</legend>
        <div class="card-body">
        <div class="mb-3">
          <label for="title" class="form-label">title</label>
          <input type="text" class="form-control" name="title" id="title" autocomplete="off">        
        </div>
        <div class="mb-3">
          <label for="mode">mode</label>
          <input class="form-control" list="list_mode" id="mode" name="mode" autocomplete="off">
          <datalist id="list_mode">
            <option value="sculpture">
            <option value="painting">
            <option value="drawing">          
          </datalist>
        </div>
        <div class="mb-3">
          <label for="category">category</label>
          <input class="form-control" list="list_category" id="category" name="category" autocomplete="off">
          <datalist id="list_category">
            <option value="figure">
            <option value="wildlife">
            <option value="stilllife"> 
            <option value="landscape">
            <option value="abstract">        
          </datalist>
        </div>
        <div class="mb-3">
          <label for="material">material</label>
          <input class="form-control" list="list_material" id="material" name="material" autocomplete="off">
          <datalist id="list_material">
            <option value="bronze">
            <option value="alabaster">
            <option value="plaster"> 
            <option value="oil and canvas">
            <option value="pencil">        
          </datalist>
        </div>                  

      </div>
      <div class="d-grid card-footer">
        <button type="submit" class="btn btn-primary mt-2 mb-2">submit work</button>
      </div> 
    </form>
  </div>
  <div class="col-md-8 offset-md-1">

    {{#each works}}

    {{/each}}


  </div>
</div> --}}


